<ion-view title="Dashboard">
  <ion-content class="padding">
    <h1>Dash</h1>
    <button class="button button-full button-dark" on-tap="showPopup()">
      Cambiar direccion IP servidor
    </button>
    <button class="button button-full button-positive" on-tap="test()">
      Direccion servidor por defecto
    </button>
    <button class="button button-full button-positive" on-tap="scan()">
      Escanear canciones locales
    </button>
    <button class="button button-full button-positive" on-tap="inicioSesionModal()" ng-show="!status.logged">
      Iniciar sesion
    </button>
    <button class="button button-full button-assertive" on-tap="logout()" ng-show="status.logged">
      Cerrar sesion ({{getUser().userName}})
    </button>
    <div class="list">

      <ion-toggle ng-model="data.offline" ng-checked="data.offline" ng-change="modeChanged()">> Modo offline
      </ion-toggle>
  </ion-content>
</ion-view>
