<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">Iniciar sesion</h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()"><strong>Cancel</strong></button>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Usuario</span>
          <input type="text" ng-model="data.userName">
        </label>
        <label class="item item-input">
          <span class="input-label">Contrasenia</span>
          <input type="password" ng-model="data.pass">
        </label>
        <button class="button button-block button-positive" on-tap="login()">
          Enviar
        </button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
<ion-view title="Dashboard">
  <ion-content class="padding">
    <h1>Dash</h1>
    <button class="button button-full button-dark" on-tap="showPopup()">
      Cambiar direccion IP servidor
    </button>
    <button class="button button-full button-positive" on-tap="test()">
      Direccion servidor por defecto
    </button>
    <button class="button button-full button-positive" on-tap="scan()">
      Escanear canciones locales
    </button>
    <button class="button button-full button-positive" on-tap="inicioSesionModal()">
      Iniciar sesion
    </button>
    <div class="list">

        <ion-toggle ng-model="data.offline"
                      ng-checked="data.offline"
                      ng-change="modeChanged()">>
          Modo offline
        </ion-toggle>
  </ion-content>
</ion-view>
