<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-background-positive tabs-light">


  <!-- Dashboard Tab -->
  <ion-tab title="Dashboard" icon="icon ion-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  <!-- Songs Tab -->
  <!--<ion-tab title="Songs" icon="icon ion-disc" href="#/tab/songs">
    <ion-nav-view name="tab-songs"></ion-nav-view>.
  </ion-tab>-->

  <!-- Albums Tab -->
  <ion-tab title="Albums" icon="icon ion-disc" href="#/tab/albums">
    <ion-nav-view name="tab-albums"></ion-nav-view>.
  </ion-tab>

  <!-- Player Tab -->
  <ion-tab on-select="updateInfoSong()" title="Player" icon="icon ion-music-note" href="#/tab/player">
    <ion-nav-view name="tab-player"></ion-nav-view>
  </ion-tab>

  <!-- List Songs -->
  <ion-tab title="List songs" icon="icon ion-drag" href="#/tab/list-songs" on-select="onTabSelected()" on-deselect="onTabDeselected()">
    <ion-nav-view name="tab-list-songs">
    </ion-nav-view>
  </ion-tab>


</ion-tabs>
